:root {
    --mapview-toolbar-height: 48px;
    --waypoint-editor-width: 480px;
}

.waypoint-editor {
    position: absolute;
    left: 0;
    width: var(--waypoint-editor-width);
    top: 0;
    bottom: 0;

    border-right: 1px solid lightgray;

    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.waypoint-editor-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 1020;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.waypoint-editor-form > textarea {
    resize: none;
}

.waypoint-editor-button-bar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    overflow: hidden;
    
    z-index: 1020;

    border-top: 1px solid rgba(0, 0, 0, 0.1); 
}

.mapview {
    position: absolute;
    left: var(--waypoint-editor-width);
    right: 0;
    top: 0;
    bottom: 0;

    transition: filter 0.2s;
}

.mapview.updating {
    transition: filter 0.4s;
    filter: saturate(0) brightness(0.5);
}

.mapview.updating * {
    pointer-events: none;
}

.autofit-button {
    position: absolute;
    top: 0; 
    right: 0;
}

.mapview-toolbar {
    position: absolute;
    left: var(--waypoint-editor-width);
    right: 0;
    bottom: 0;
    height: var(--mapview-toolbar-height);

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-top: 1px solid rgba(0, 0, 0, 0.1); 
}

.mapview-toolbar-progress-bar {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: 4px;

    overflow: hidden;
}

.frosted {
    background-color: rgba(255, 255, 255, 0.9);
}

@supports (-webkit-backdrop-filter: blur(0px)) {
    .frosted {
        --background-blur: 64px;
        -webkit-backdrop-filter: blur(var(--background-blur));
        backdrop-filter: blur(var(--background-blur));
        background-color: rgba(255, 255, 255, 0.8);
    }
}

@media (max-width: 1920px) {
    :root {
        --waypoint-editor-width: 25%;
    }
}

@media (max-width: 1280px) {
    :root {
        --waypoint-editor-width: 320px;
    }
}

@media (max-width: 640px) {
    :root {
        --waypoint-editor-width: 100%;
    }

    .waypoint-editor {
        bottom: var(--mapview-toolbar-height);
    }

    .mapview {
        display: none;
    }

    .mapview-toolbar  {
        left: 0;
        width: 100%;
    }
}