:root {
    // Apple System Colors
    --apple-system-blue: rgb(0, 122, 255);
    --apple-system-brown: rgb(162, 132, 94);
    --apple-system-gray: rgb(142, 142, 147);
    --apple-system-green: rgb(40, 205, 65);
    --apple-system-orange: rgb(245, 149, 0);
    --apple-system-pink: rgb(255, 45, 85);
    --apple-system-purple: rgb(175, 82, 222);
    --apple-system-red: rgb(255, 59, 48);
    --apple-system-yellow: rgb(255, 204, 0);

    // Border Color
    --standard-border-color: rgba(0, 0, 0, 0.1);

    // Fill Colors
    --primary-fill-color: hsl(40, 50%, 95%);
    --secondary-fill-color: hsl(40, 50%, 97%);
    --tertiary-fill-color: hsl(40, 50%, 99%);
    --accent-color: hsl(35, 90%, 50%);
    --error-color: hsl(5, 80%, 60%);

    // Text Colors
    --primary-text-color: hsl(40, 5%, 0%);
    --secondary-text-color: hsl(40, 5%, 50%);

    // Input Colors
    --input-color: hsl(40, 20%, 90%);
    --input-focus-color: hsl(40, 20%, 99%);
    --input-border-color: hsl(40, 20%, 80%);

    // Button Colors
    --button-hover-highlight-color: rgba(0, 0, 0, 0.1);
    --button-active-highlight-color: rgba(0, 0, 0, 0.2);

    @media (prefers-color-scheme: dark) {
        // Apple System Colors
        --apple-system-blue: rgb(10, 132, 255);
        --apple-system-brown: rgb(172, 142, 104);
        --apple-system-gray: rgb(152, 152, 157);
        --apple-system-green: rgb(50, 215, 75);
        --apple-system-orange: rgb(255, 159, 10);
        --apple-system-pink: rgb(255, 55, 95);
        --apple-system-purple: rgb(191, 90, 242);
        --apple-system-red: rgb(255, 69, 58);
        --apple-system-yellow: rgb(255, 214, 10);

        // Fill Colors
        --primary-fill-color: hsl(210, 5%, 18%);
        --secondary-fill-color: hsl(210, 5%, 22%);
        --tertiary-fill-color: hsl(210, 5%, 27%);
        --accent-color: hsl(210, 80%, 50%);
        --error-color: hsl(5, 50%, 50%);

        // Text Colors
        --primary-text-color: rgb(255, 255, 255);
        --secondary-text-color: rgba(255, 255, 255, 0.5);

        // Border Color
        --standard-border-color: rgba(255, 255, 255, 0.05);

        // Input Colors
        --input-color: hsl(210, 5%, 15%);
        --input-focus-color: hsl(210, 5%, 10%);
        --input-border-color: hsl(210, 5%, 25%);

        // Button Colors
        --button-hover-highlight-color: rgba(255, 255, 255, 0.1);
        --button-active-highlight-color: rgba(255, 255, 255, 0.2);
    }
}
