@import './colors.scss';
@import './spacings.scss';

#root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

:root {
    background-color: var(--secondary-fill-color);
    color: var(--primary-text-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}
