@import "./variables.scss";
@import "./btn.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "./spacings.scss";

#root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#waypoint-editor {
    position: absolute;

    left: var(--standard-margin);
    top: var(--standard-margin);

    width: $editorWidth;
    max-height: calc(100% - 2 * var(--standard-margin));

    border-radius: var(--standard-border-radius);

    border: 1px solid var(--app-border-color);

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.25), 0 16px 32px rgba(0, 0, 0, 0.25);

    @include frosted-colored();

    @media (max-width: $compactBreakpoint) {
        top: auto;
        left: 0;
        bottom: 0;

        width: 100%;
        max-height: calc(100% - #{$peekWidth});

        box-shadow: 0 0 $peekWidth rgba(0, 0, 0, 0.25);

        border: none;
        border-top: 1px solid var(--app-border-color);
        border-radius: var(--standard-border-radius) var(--standard-border-radius) 0 0;
    }
}

#waypoint-editor-header,
#waypoint-editor-footer {
    position: sticky;
    z-index: 1;

    border-width: 1px;
    border-color: var(--app-border-color);

    @include frosted-uncolored();
}

#waypoint-editor-header {
    top: 0;
    border-bottom-style: solid;

    > #waypoint-editor-hide-button {
        border-top: none;
    }
}

#waypoint-editor-footer {
    bottom: 0;
    border-top-style: solid;

    > #waypoint-editor-hide-button {
        border-bottom: none;
    }
}

#waypoint-editor-header-items,
#waypoint-editor-footer-items,
#waypoint-editor-body {
    padding-left: var(--standard-margin);
    padding-top: var(--standard-margin);
}

#waypoint-editor-header-items > *,
#waypoint-editor-footer-items > *,
#waypoint-editor-body .text,
#waypoint-editor-body .input-row {
    margin-right: var(--standard-margin);
    margin-bottom: var(--standard-margin);
}

#waypoint-editor-hide-button {
    width: 100%;

    background-color: transparent;

    border-radius: 0;
    border-left: none;
    border-right: none;
}

#app-title {
    font-size: 2rem;
    font-weight: 500;

    @media (max-width: $compactBreakpoint) {
        font-size: 1.5rem;
    }
}

#app-version {
    font-size: 1rem;
    color: var(--app-secondary-text-color);
}

#pane-selector {
    display: flex;
    flex-wrap: wrap;

    margin-right: calc(var(--standard-margin) / 2);
    margin-bottom: calc(var(--standard-margin) / 2);

    .btn {
        margin-right: calc(var(--standard-margin) / 2);
        margin-bottom: calc(var(--standard-margin) / 2);

        line-height: 1;
    }
}

#route-statusbar {
    align-items: center;
    justify-content: space-evenly;

    &:not(.collapsed) {
        display: flex;

        height: $statusbarHeight;
        width: 100%;

        border-top: 1px solid var(--app-border-color);
    }

    &.collapsed {
        display: inline-flex;

        > :not(:first-child) {
            margin-left: var(--standard-horizontal-padding);
        }
    }
}

#mapview {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: filter 0.2s;
    &.updating {
        transition: filter 0.4s;
        filter: saturate(0) opacity(0.5);

        * {
            pointer-events: none;
        }
    }

    @media (max-width: $compactBreakpoint) {
        #root:not(.editor-hidden) & {
            transition: filter 0.4s;
            filter: opacity(0.5);

            * {
                pointer-events: none;
            }
        }
    }
}

#map-buttons {
    position: absolute;
    top: 0;
    left: calc(#{$editorWidth} + var(--standard-margin));
    padding: var(--standard-margin);

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: $compactBreakpoint) {
        top: initial;
        left: 0;
        bottom: 0;

        #root:not(.editor-hidden) & {
            display: none;
        }
    }

    #root.editor-hidden & {
        left: 0;
    }

    > button {
        flex-shrink: 0;
        margin-right: calc(var(--standard-margin) / 2);
    }
}

#progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;

    svg {
        position: absolute;
    }
}

.input-row {
    display: flex;
    align-items: center;

    transition: opacity 0.2s;

    > * {
        border-radius: calc(var(--standard-border-radius) / 2);

        padding: var(--standard-vertical-padding) var(--standard-horizontal-padding);

        line-height: var(--standard-control-line-height);
    }

    > :not(:last-child) {
        margin-right: calc(var(--standard-margin) / 2);
    }

    > :first-child {
        border-top-left-radius: var(--standard-border-radius);
        border-bottom-left-radius: var(--standard-border-radius);
    }

    > :last-child {
        border-top-right-radius: var(--standard-border-radius);
        border-bottom-right-radius: var(--standard-border-radius);
    }

    > input,
    > textarea {
        flex-grow: 1;
        min-width: 0;
    }

    > :not(input, textarea) {
        flex-shrink: 0;
    }

    > span {
        background-color: var(--app-input-row-span-color);
        border: 1px solid var(--app-heavy-border-color);

        &:focus {
            outline: none;
        }
    }
}

.waypoint-item-selected > span {
    background-color: var(--apple-system-blue);
    color: white;
}

.waypoint-item-dragging-along {
    opacity: 0.5;
}

.statview {
    color: var(--app-secondary-text-color);

    > .spacer {
        width: 0.5em;
        display: inline-block;
    }

    > span {
        font-weight: 600;
        color: var(--app-primary-text-color);
    }
}

html {
    background-color: var(--app-background-color);
    color: var(--app-primary-text-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--apple-system-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea {
    border: none;
    padding: var(--standard-vertical-padding) var(--standard-horizontal-padding);
    border-radius: var(--standard-border-radius);

    appearance: none;
    outline: none;

    box-shadow: none;

    line-height: var(--standard-control-line-height);

    color: var(--app-primary-text-color);

    transition: background-color 0.2s, border 0.2s;
    background-color: var(--app-form-control-color);
    border: 1px solid var(--app-heavy-border-color);

    &::placeholder {
        color: var(--app-secondary-text-color);
    }

    &:not(:read-only):focus {
        background-color: var(--app-form-control-focus-color);

        border: 1px solid var(--apple-system-blue);
    }
}
