@import "./variables.scss";
@import "./colors.scss";
@import "./spacings.scss";

#root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

html {
    background-color: var(--app-background-color);
    color: var(--app-primary-text-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--apple-system-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea {
    border: none;
    padding: var(--standard-vertical-padding) var(--standard-horizontal-padding);
    border-radius: var(--standard-border-radius);

    appearance: none;
    outline: none;

    box-shadow: none;

    line-height: var(--standard-control-line-height);

    color: var(--app-primary-text-color);

    transition: background-color 0.2s, border 0.2s;
    background-color: var(--app-form-control-color);
    border: 1px solid var(--app-border-color);

    &::placeholder {
        color: var(--app-secondary-text-color);
    }

    &:not(:read-only):focus {
        background-color: var(--app-form-control-focus-color);

        border: 1px solid var(--apple-system-blue);
    }
}

.input-row {
    display: flex;
    align-items: center;

    transition: opacity 0.2s;

    > * {
        padding: var(--standard-vertical-padding) var(--standard-horizontal-padding);
        line-height: var(--standard-control-line-height);
    }

    > :not(:last-child) {
        margin-right: calc(var(--standard-margin) / 2);
    }

    > :first-child {
        border-top-left-radius: var(--standard-border-radius);
        border-bottom-left-radius: var(--standard-border-radius);
    }

    > :last-child {
        border-top-right-radius: var(--standard-border-radius);
        border-bottom-right-radius: var(--standard-border-radius);
    }

    > input,
    > textarea {
        flex-grow: 1;
        min-width: 0;
    }

    > :not(input, textarea) {
        flex-shrink: 0;
    }

    > span {
        background-color: var(--app-input-row-span-color);
        border: 1px solid var(--app-border-color);

        &:focus {
            outline: none;
        }
    }
}
