@import "../styles/variables";

#map-buttons {
    position: absolute;
    top: 0;
    left: calc(#{$editorWidth} + var(--standard-margin));
    padding: var(--standard-margin);

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: $compactBreakpoint) {
        top: initial;
        left: 0;
        bottom: 0;

        #root:not(.editor-hidden) & {
            display: none;
        }
    }

    #root.editor-hidden & {
        left: 0;
    }

    > button {
        flex-shrink: 0;
        margin-right: calc(var(--standard-margin) / 2);
    }
}
