@import "../styles/variables";

#mapview {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: filter 0.2s;
    &.updating {
        transition: filter 0.4s;
        filter: saturate(0) opacity(0.5);

        * {
            pointer-events: none;
        }
    }

    @media (max-width: $compactBreakpoint) {
        #root:not(.editor-hidden) & {
            transition: filter 0.4s;
            filter: opacity(0.5);

            * {
                pointer-events: none;
            }
        }
    }
}
