.statview {
    color: var(--app-secondary-text-color);

    > .spacer {
        width: 8px;
        display: inline-block;
    }

    > span {
        font-weight: 600;
        color: var(--app-primary-text-color);
    }
}
