@import "./variables.scss";

.alert {
    margin: $standardMargin;
}

.alert-info,
.alert-primary {
    color: var(--app-secondary-text-color);
}

.alert-danger {
    color: var(--apple-system-red);
}

.alert-warning {
    color: var(--apple-system-yellow);
}
