$frostedBlurRadius: 64px;

@mixin frosted {
    background-color: var(--app-frost-fallback-color);

    @supports (backdrop-filter: blur($frostedBlurRadius)) {
        backdrop-filter: blur($frostedBlurRadius);
        background-color: var(--app-frost-color);
    }
}

@mixin bordered($border-color: var(--app-border-color)) {
    border: 1px solid $border-color;
}
