$editorWidth: 420px;
$compactBreakpoint: 800px;
$statusbarHeight: 48px;

$standardMargin: 16px;
$standardVerticalPadding: 8px;
$standardHorizontalPadding: 12px;
$standardPadding: $standardVerticalPadding $standardHorizontalPadding;
$standardBorderRadius: 8px;
