@import "./variables.scss";
@import "./btn.scss";
@import "./alert.scss";
@import "./colors.scss";
@import "./mixins.scss";

html {
    background-color: var(--app-background-color);
    color: var(--app-primary-text-color);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--apple-system-blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input,
textarea {
    border: none;
    padding: $standardPadding;
    border-radius: $standardBorderRadius;

    appearance: none;
    outline: none;

    box-shadow: none;

    line-height: 1.5;

    color: var(--app-primary-text-color);

    transition: background-color 0.2s, border 0.2s;
    background-color: var(--app-form-control-color);
    border: 1px solid var(--app-heavy-border-color);

    &::placeholder {
        color: var(--app-secondary-text-color);
    }

    &:not(:read-only):focus {
        background-color: var(--app-form-control-focus-color);

        border: 1px solid var(--apple-system-blue);
    }
}

#root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#waypoint-editor {
    position: absolute;

    left: $standardMargin;
    top: $standardMargin;

    width: $editorWidth;
    max-height: calc(100% - #{2 * $standardMargin});

    border-radius: $standardBorderRadius;

    border: 1px solid var(--app-border-color);

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.25), 0 16px 32px rgba(0, 0, 0, 0.25);

    @include frosted-colored();

    @media (max-width: $compactBreakpoint) {
        top: auto;
        left: 0;
        bottom: 0;

        width: 100%;
        max-height: calc(100% - #{$peekWidth});

        box-shadow: 0 0 $peekWidth rgba(0, 0, 0, 0.25);

        border: none;
        border-top: 1px solid var(--app-border-color);
        border-radius: $standardBorderRadius $standardBorderRadius 0 0;
    }
}

#waypoint-editor-hide-button {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;

    width: 100%;
}

#waypoint-editor-header {
    padding: $standardMargin;
    position: sticky;
    top: 0;

    z-index: 2;

    border-bottom: 1px solid var(--app-border-color);

    @include frosted-uncolored();
}

#app-title {
    font-size: 2rem;
    font-weight: 500;
}

#app-version {
    font-size: 1rem;
    font-weight: 500;
    color: var(--app-secondary-text-color);
}

#pane-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-top: $standardMargin / 2;

    .btn {
        margin-right: $standardMargin / 2;
        margin-top: $standardMargin / 2;

        line-height: 1;

        &:last-child {
            margin-right: 0;
        }
    }
}

#waypoint-editor-footer {
    position: sticky;
    bottom: 0;

    overflow: auto;
    z-index: 1;

    border-top: 1px solid var(--app-border-color);

    @include frosted-uncolored();

    & > * {
        float: left;
        margin-top: $standardMargin;
        margin-left: $standardMargin;
    }

    & > #route-statusbar {
        margin-left: 0;
    }

    & > #waypoint-editor-hide-button {
        margin-left: 0;
        margin-top: 0;
        background-color: transparent;
    }
}

#route-statusbar {
    align-items: center;
    justify-content: space-evenly;

    &:not(.collapsed) {
        display: flex;

        z-index: 2;

        position: sticky;
        bottom: 0;
        height: $statusbarHeight;
        width: 100%;

        border-top: 1px solid var(--app-border-color);
    }

    &.collapsed {
        display: inline-flex;

        & > *:first-child {
            margin-right: $standardHorizontalPadding;
        }
    }
}

.input-row {
    display: flex;
    align-items: center;

    margin: $standardMargin;
    margin-bottom: 0;

    transition: opacity 0.2s;

    &:last-child {
        margin-bottom: $standardMargin;
    }

    & > * {
        border-radius: $standardBorderRadius / 2;
        margin-left: $standardMargin / 2;

        padding: $standardPadding;

        line-height: 1.5;
    }

    & > *:first-child {
        margin-left: 0;

        border-top-left-radius: $standardBorderRadius;
        border-bottom-left-radius: $standardBorderRadius;
    }

    & > *:last-child {
        border-top-right-radius: $standardBorderRadius;
        border-bottom-right-radius: $standardBorderRadius;
    }

    & > input,
    & > textarea {
        flex-grow: 1;
        min-width: 0;

        *:not(&) {
            flex-shrink: 0;
        }
    }

    & > span {
        background-color: var(--app-input-row-span-color);
        border: 1px solid var(--app-heavy-border-color);

        &:focus {
            outline: none;
        }
    }

    &.waypoint-item-selected > span {
        background-color: var(--apple-system-blue);
        color: white;
    }

    &.waypoint-item-dragging-over {
        transition: opacity 0.1s;
        opacity: 0.5;
    }
}

#mapview {
    position: absolute;
    width: 100%;
    height: 100%;

    transition: filter 0.2s;
    &.updating {
        transition: filter 0.4s;
        filter: saturate(0) opacity(0.5);

        * {
            pointer-events: none;
        }
    }

    @media (max-width: $compactBreakpoint) {
        #root:not(.editor-hidden) & {
            transition: filter 0.4s;
            filter: opacity(0.5);

            * {
                pointer-events: none;
            }
        }
    }
}

.statview {
    color: var(--app-secondary-text-color);

    & > span {
        font-weight: 600;
        color: var(--app-primary-text-color);
    }
}

#map-buttons {
    position: absolute;
    top: 0;
    left: $editorWidth + $standardMargin;
    padding: $standardMargin;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: $compactBreakpoint) {
        top: initial;
        left: 0;
        bottom: 0;

        #root:not(.editor-hidden) & {
            display: none;
        }
    }

    #root.editor-hidden & {
        left: 0;
    }

    & > button {
        flex-shrink: 0;
        margin-right: $standardMargin / 2;
    }
}

#progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    overflow: hidden;
    z-index: 4;

    svg {
        position: absolute;
    }
}
